/* CSS Document */
/*css reset*/
 @font-face {
  font-family: Philosopher;
  src: url(../font/Philosopher/Philosopher-Bold.ttf);
 }

*{
	margin: 0;
	padding: 0;
	font-size: 0;
	border: 0;
	outline: 0;
}
body{
	background: #ededed;
	min-height: 100%;
}
.main{
	width: 100%;
}
/*Класс шрифтов по умолчанию*/
.default-font{
	font-family: 'Philosopher', sans-serif;
	font-weight: bold;
}
/*****************Общие классы**********************/

.border-radius-left{
	border-radius: 15px 0 0 15px;
}
.border-radius-right{
	border-radius: 0 15px 15px 0;
}
.info{
	position: relative;
	width: 720px;
	margin-left: auto;
}

/***********************************************************/

.logo-mts{
	height: 280px;
	background: url(../pic/logo_mts.jpg) no-repeat;
	background-size: auto;
	background-position: 500px 130px;
}
.info-menu{
	height: 250px;
}
.info-menu__link-schpd{
	position: relative;
	margin-left: auto;
	width: 455px;
	height: 110px;
	background: #ed5152;
	
}
.info-menu__link-schpd_shadow{
	box-shadow: 0 10px 30px 2px rgba(0,0,0,0.5);
}
.info-menu__text-shpd{
	display: block;
	position: absolute;
	right: 30px;
	top: 20px;
	font-size: 72px;
	color: #fefefe;
	text-decoration: none;
}
/*.info-menu__strelka-mts-shpd{
	position: absolute;
	left: 193px;
	height: 110px;
	width: 74px;
	background: url(../pic/strelka_mts.jpg);
}
.info-menu__strelka-mts-ktv{
	position: absolute;
	left: 70px;
	height: 110px;
	width: 74px;
	background: url(../pic/strelka_mts.jpg);
}*/
.info-menu__empty-block{
	height: 30px;
}
.info-menu__link-ktv{
	position: relative;
	margin-left: auto; 
	font-size: 72px;
	width: 580px;
	height: 110px;
	background: #ed5152;
}
.info-menu__text-ktv{
	display: block;
	position: absolute;
	top: 20px;
	right: 30px;
	font-weight: bold;
	font-size: 72px;
	color: #fefefe;
	text-decoration: none;
}

.cherdak-info{
	position: relative;
	width: 720px;
	margin-right: auto;
}
.logo-cherdak{
	height: 250px;
	background: url(../pic/logo_cherdak.jpg) no-repeat;
	background-position: 20px 130px;
}
.cherdak-menu__link-center{
	position: relative;
	margin-left: 20px;
	background: #5a5a5a;
	height: 69px;
	width: 560px;
}
.cherdak-menu__text-center{
	display: block;
	position: absolute;
	left: 380px;
	font-size: 60px;
	color: #fefefe;
	text-decoration: none;
}
.cherdak-menu{
	position: relative;
}
.cherdak-menu__strelka-cherdak-center{
	position: absolute;
	right: 102px;
	top: 0px;
	background: url(../pic/strelka_cherdak.jpg) no-repeat;
	height: 69px;
	width: 40px;
}
.cherdak-menu__link-zapsib{
	position: relative;
	margin-left: 20px;
	background: #5a5a5a;
	height: 69px;
	width: 620px;
	
}
.cherdak-menu__text-zapsib{
	display: block;
	position: absolute;
	left: 400px;
	font-size: 60px;
	color: #fefefe;
	text-decoration: none;
}
.cherdak-menu__strelka-cherdak-zapsib{
	position: absolute;
	right: 49px;
	top: 99px;
	background: url(../pic/strelka_cherdak.jpg) no-repeat;
	height: 69px;
	width: 40px;
}
/**********************************shpd.php pages*********************************************/

.main-shpd{
	min-width: 100%;
	background: url(../pic/konnector.png) 100px 0 no-repeat;
	background-size: 50%;
}
.info-menu__link-item{
	position: relative;
	margin-left: auto;
	width: 455px;
	height: 110px;
	background: #ed5152;
}
.info-menu__link-text{
	display: block;
	position: absolute;
	top: 20px;
	right: 50px;
	font-weight: bold;
	font-size: 72px;
	color: #fefefe;
	text-decoration: none;
}
.info-menu__link-item_big{
	position: relative;
	margin-left: auto;
	width: 600px;
	height: 110px;
	background: #ed5152;
}
/***********************************ktv.php*******************************************************/

.main-ktv{
	min-width: 100%;
	background: url(../pic/old_tvset.png) 0 0 no-repeat;
	background-size: 50%;
}


